{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">

<style>
    .quiz-title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 48px
        
    }  
    h3 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 36px; 
    }
    ul {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 30px;
    }
    input[type="submit"] {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        /* Дополнительные стили для кнопки Submit */
    }
    body {
        background-image: url('/static/images/quiz.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
</style>

<body>

<h1 class="quiz-title">{{ quiz.title|upper }}</h1>

<form method="POST" action="{% url 'quiz:submit_answer' %}">
    {% csrf_token %}

    {% for question in questions %}
        <h3>{{ question.title }}</h3>
        <ul>
            {% for answer in question.answer.all %}
                <li>
                    <label>
                        <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
                        {{ answer.answer_text }}
                    </label>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}

    <input type="submit" value="Submit">

</form>

</body>