{% extends "base.html" %}

{% load static %}

{% block title %}Answer Form{% endblock title %}

{% block content %}

    <body>
        <h1 class="quiz-title">{{ quiz.title|upper }}</h1>

        <form method="POST" action="{% url 'quiz:submit-answer' quiz.id %}">
            {% csrf_token %}

            {% for question in questions %}
                <h3>{{ question.title }}</h3>
                <ul>
                    {% for answer in question.answer.all %}
                        <li>
                            <label>
                                <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
                                {{ answer.answer_text }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}

            <input type="submit" value="Submit">
        </form>
    </body>
{% endblock content %}
