{% extends "base.html" %}

{% block title %}User Scores{% endblock %}

{% block content %}
  <div class="container">
    <h1>User Scores</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for user_profile in user_profiles %}
          <tr>
            <td>{{ user_profile.username }}</td>
            <td>
              {% for score in user_profile.scores_by_category %}
                {{ score.total_score }}&nbsp;
              {% empty %}
                0
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
